name: Record Tests Time

on:
  push:
    branches: [ main ]
    paths:
      - 'tests/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'tests/**'
  workflow_dispatch:
    inputs:
      shardIndex:
        description: 'Shard Index (comma-separated values)'
        required: false
        default: '1,2,3,4,5,6,7,8'
      shardTotal:
        description: 'Shard Total'
        required: false
        default: 8

jobs:
  set_variables:
    runs-on: ubuntu-latest
    outputs:
      shardIndexArray: ${{ steps.set_vars.outputs.shardIndexArray }}
      shardTotal: ${{ steps.set_vars.outputs.shardTotal }}
    steps:
    - name: Set shardIndex array and shardTotal
      id: set_vars
      run: |
        if [[ -z "${{ github.event.inputs.shardIndex }}" ]]; then
          shardIndex='1,2,3,4,5,6,7,8'
        else
          shardIndex=${{ github.event.inputs.shardIndex }}
        fi
        if [[ -z "${{ github.event.inputs.shardTotal }}" ]]; then
          shardTotal=8
        else
          shardTotal=${{ github.event.inputs.shardTotal }}
        fi
        shardIndexArray=$(echo '["'$shardIndex'"]' | sed 's/,/","/g')
        echo "shardIndexArray=$shardIndexArray" >> $GITHUB_ENV
        echo "::set-output name=shardIndexArray::$shardIndexArray"
        echo "::set-output name=shardTotal::$shardTotal"
        
  record_test_time:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: set_variables
    strategy:
      fail-fast: false
      matrix:
        shardIndex: ${{ fromJson(needs.set_variables.outputs.shardIndexArray) }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  
    - name: Set shardIndex environment variable
      run: echo 'SHARD_INDEX=${{ matrix.shardIndex }}' >> $GITHUB_ENV          
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install
    - name: Run Playwright tests
      run: |
        MEASURE_EXECUTION_TIME=true npx playwright test --shard=${{ matrix.shardIndex }}/${{ needs.set_variables.outputs.shardTotal }} --repeat-each=1
    - name: Upload JSON File
      uses: actions/upload-artifact@v4
      with:
        name: test_run_statistics_${{ matrix.shardIndex }}
        path: test_run_statistics_${{ matrix.shardIndex }}.json

  combine_record_test_time:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs:
      - record_test_time
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: |
        if [[ -f test_run_statistics.json ]]; then
            rm test_run_statistics.json
        fi 
    - name: Download JSON Files
      uses: actions/download-artifact@v4
      with:
        path: .
        pattern: test_run_statistics_*
    - name: Move JSON files to root directory
      run: |
        find . -type f -name "*.json" -exec mv {} . \;
    - uses: sergeysova/jq-action@v2
      with:
        cmd: jq -s '[.[][]]' test_run_statistics_*.json > test_run_statistics.json
    - run: rm test_run_statistics_*.json  
    - uses: actions/upload-artifact@v4
      with:
        name: test_run_statistics
        path: test_run_statistics.json              
    - name: Commit Json File
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
         commit_message: 'Update Tests Record Time file'
         file_pattern: "*.json"
